h1, h2, button {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #264143;
}

button {
    transition: all .5s ease-out;
}

.popup {
    width: 155px;
    background: #eddcd9;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -10%;
}

.popup h2 {
    font-weight: 700;
    margin-top: 5px;
}

.popup button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: #264143;
    color: #f2ebe9;
    border: 0;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}